:root {
  --color-light: #fff;
  --color-dark: #222831;
  --color-purple: #a23cffa1;
  --color-semi-light: #cecece;
  --color-semi-dark: #30475e;
}

.theme-light {
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-change-btn: var(--color-semi-light);
  --color-hover: var(--color-semi-dark);
  background-color: var(--color-light);
  transition: background-color .3s;
}

.theme-dark {
  --color-background: var(--color-dark);
  --color-text: var(--color-light);
  --color-change-btn: var(--color-semi-dark);
  --color-hover: var(--color-semi-light);
  background-color: var(--color-dark);
  transition: background-color .3s;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

div {
  color: var(--color-text);
}

button {
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

a {
  color: var(--color-purple);
  transition: 0.3s;
}

a:hover {
  color: var(--color-hover);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
}

ul, ul li {
  list-style: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 375px;
    padding: 0 10px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 300px;
  }
}

@media (max-width: 330px) {
  .container {
    max-width: 300px;
    padding: 0 5px;
  }
}
