.link {
	width: 50px;
	height: 50px;
	border: 3px solid #d2d2d2;
	border-radius: 10px;
	background-color: #d2d2d2;
	cursor: pointer;
	transition: 0.3s;
}

.link svg{
	padding: 5px;
}

.link:hover {
	border: 3px solid #c0c0c0;
}

.link:not(:last-child) {
	margin: 0 10px 0 0;
}